body {
 margin: 0;
 min-height: 100vh;
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  background-color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
background-image: url(feedbkbg.jpg);
    background-size: cover;   /* 👈 zooms out */
  background-repeat: no-repeat;
  background-position: center;
} 
.menu { 
width: 600px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
background-color: #f9f4e3;
margin-top:40px;
margin-bottom: 40px;}

header p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #666;
text-align: center;
}
legend {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #333;
}
label {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #444;
  display: block;
  margin-bottom: 5px;
}
.field {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.field label {
  width: 180px;   /* adjust based on longest text */
  font-family: 'Poppins', sans-serif;
  color: #444;
}

.field input {
  flex: 1;
  padding: 6px;
}
.radio-group {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.radio-group input {
  margin-right: 5px;
}
#age {
  width: 80px;
  flex: none;
}
button {
  width: 100%;
  padding: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.check-group {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.check-group input {
  margin-right: 8px;
}
h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 32px;
  letter-spacing: 1px;
  position: relative;
  color: #222;
}

/* decorative lines */
h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 110px;
  height: 1.5px;
  background-color: #bfa046; /* gold */
}

h1::before {
  left: 0;
}

h1::after {
  right: 0;
}
